---
import Icon from "./Icon.astro";

const { text = "", icon, size = "16", tootipClass = "", tabClass = "" } = Astro.props;
---

<div class=`tooltip text-xs ${tootipClass}` data-tip={text}>
  <a role="tab" class=`tab px-4 ${tabClass}`>
    <Icon icon={icon} size={size} />
  </a>
</div>