---
import Icon from "./Icon.astro";

const { text = "", icon, size = "16", action = "", tootipClass = "", tabClass = ""} = Astro.props;
---

<div class=`tooltip text-xs ${tootipClass}` data-tip={text}>
  <button role="tab" class=`tab hover:bg-neutral-content px-4 rounded-md ${tabClass}` data-action={action}>
    <Icon icon={icon} size={size} />
  </button>
</div>